<a href="https://colab.research.google.com/github/khalilullahalfaath/AI_Tubes-03-Learning/blob/main/AI-Kelompok%2015-Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns

# Membaca dataset

In [3]:
df = pd.read_excel("https://github.com/khalilullahalfaath/AI_Tubes-03-Learning/blob/19d11d6e2fa2d540afdc0cec3308b82c664d29f7/traintest.xlsx?raw=true")

In [4]:
df

      id  x1  x2  x3  y
0      1  60  64   0  1
1      2  54  60  11  0
2      3  65  62  22  0
3      4  34  60   0  1
4      5  38  69  21  0
..   ...  ..  ..  .. ..
291  292  59  64   1  1
292  293  65  67   0  1
293  294  53  65  12  0
294  295  57  64   1  0
295  296  54  59   7  1

[296 rows x 5 columns]

# EDA (Exploratory Data Analysist)

## Info terkait dataset

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      296 non-null    int64
 1   x1      296 non-null    int64
 2   x2      296 non-null    int64
 3   x3      296 non-null    int64
 4   y       296 non-null    int64
dtypes: int64(5)
memory usage: 11.7 KB

Dapat dilihat bahwa seluruh data merupakan integers sehingga tidak perlu dilakukan perubahan untuk mendapatkan tipe data yang sama. Diketahui pula bahwa tidak ada data NULL sehingga tidak ada yang perlu diisi

## Deskripsi terkait dataset

In [6]:
df.describe()

               id          x1          x2          x3           y
count  296.000000  296.000000  296.000000  296.000000  296.000000
mean   148.500000   52.462838   62.881757    4.111486    0.736486
std     85.592056   10.896367    3.233753    7.291816    0.441285
min      1.000000   30.000000   58.000000    0.000000    0.000000
25%     74.750000   44.000000   60.000000    0.000000    0.000000
50%    148.500000   52.000000   63.000000    1.000000    1.000000
75%    222.250000   61.000000   65.250000    5.000000    1.000000
max    296.000000   83.000000   69.000000   52.000000    1.000000

In [7]:
df.head(3)

   id  x1  x2  x3  y
0   1  60  64   0  1
1   2  54  60  11  0
2   3  65  62  22  0

In [8]:
df.tail(3)

      id  x1  x2  x3  y
293  294  53  65  12  0
294  295  57  64   1  0
295  296  54  59   7  1

## Drop kolom yang tidak dibutuhkan

In [9]:
df.drop(columns = ['id'], axis = 1, inplace = True)
df

     x1  x2  x3  y
0    60  64   0  1
1    54  60  11  0
2    65  62  22  0
3    34  60   0  1
4    38  69  21  0
..   ..  ..  .. ..
291  59  64   1  1
292  65  67   0  1
293  53  65  12  0
294  57  64   1  0
295  54  59   7  1

[296 rows x 4 columns]